In [26]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/lubusz.csv', index_col=0)

df.head()

,station_code,station_name,year,month,day,24h_precipitation_mm,SMDB_status,precip_type,snow_cover_cm,river,lat,lon,altitude
0,251150110,ŻAGAŃ,1991,1,1,1.9,NaN,W,0,Bóbr,51.649722,15.293611,96
1,251150110,ŻAGAŃ,1991,1,2,2.5,NaN,W,0,Bóbr,51.649722,15.293611,96
2,251150110,ŻAGAŃ,1991,1,3,1.1,NaN,W,0,Bóbr,51.649722,15.293611,96
3,251150110,ŻAGAŃ,1991,1,4,3.2,NaN,W,0,Bóbr,51.649722,15.293611,96
4,251150110,ŻAGAŃ,1991,1,5,1.3,NaN,W,0,Bóbr,51.649722,15.293611,96

## Cleaning data

Only precipitation is interesting for us, hence only 24h_precipitation_mm and SMDB_status should be considered

In [25]:
df.SMDB_status.value_counts() # when value is 9 - it didnt rain (precipitation should be 0 and it is true); 
# when 8 - we should treat precipitation column as nan

SMDB_status
9.0    412
8.0     31
Name: count, dtype: int64

In [46]:
df_smdb = df.copy()
ind = df_smdb[df_smdb.SMDB_status == 8].index

df_smdb.loc[ind, '24h_precipitation_mm'] = np.nan
df_smdb.loc[ind]

,station_code,station_name,year,month,day,24h_precipitation_mm,SMDB_status,precip_type,snow_cover_cm,river,lat,lon,altitude
12351,252150270,BABIMOST,2016,12,1,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12352,252150270,BABIMOST,2016,12,2,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12353,252150270,BABIMOST,2016,12,3,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12354,252150270,BABIMOST,2016,12,4,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12355,252150270,BABIMOST,2016,12,5,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12356,252150270,BABIMOST,2016,12,6,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12357,252150270,BABIMOST,2016,12,7,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12358,252150270,BABIMOST,2016,12,8,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12359,252150270,BABIMOST,2016,12,9,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12360,252150270,BABIMOST,2016,12,10,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12361,252150270,BABIMOST,2016,12,11,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12362,252150270,BABIMOST,2016,12,12,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12363,252150270,BABIMOST,2016,12,13,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12364,252150270,BABIMOST,2016,12,14,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12365,252150270,BABIMOST,2016,12,15,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12366,252150270,BABIMOST,2016,12,16,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12367,252150270,BABIMOST,2016,12,17,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12368,252150270,BABIMOST,2016,12,18,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12369,252150270,BABIMOST,2016,12,19,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12370,252150270,BABIMOST,2016,12,20,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12371,252150270,BABIMOST,2016,12,21,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12372,252150270,BABIMOST,2016,12,22,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12373,252150270,BABIMOST,2016,12,23,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12374,252150270,BABIMOST,2016,12,24,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12375,252150270,BABIMOST,2016,12,25,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12376,252150270,BABIMOST,2016,12,26,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12377,252150270,BABIMOST,2016,12,27,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12378,252150270,BABIMOST,2016,12,28,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12379,252150270,BABIMOST,2016,12,29,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12380,252150270,BABIMOST,2016,12,30,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57
12381,252150270,BABIMOST,2016,12,31,NaN,8.0,NaN,0,Gniła Obra,52.143611,15.803333,57

In [47]:
# Missing data for SMDB status is good for us
# Missing data for precip type means (by the description: https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/Opis.txt)
# that the station does not carry info about the type of precipitation - we can change it to 'not/available'
# Precipitation data is missing for one month (in lubusz case) but it can vary in different dataset. We will fill those values by the 
# voivodeship mean for month in question (monthly precip data doesn't vary much & voivodeships are small enough)
df_smdb.isna().sum()

station_code                0
station_name                0
year                        0
month                       0
day                         0
24h_precipitation_mm       31
SMDB_status             16912
precip_type               459
snow_cover_cm               0
river                       0
lat                         0
lon                         0
altitude                    0
dtype: int64

In [48]:
# Dropping duplicates - by default function checks if all columns match to determine duplicate. For us only station_code and date are enough. 
# We will keep the first value

df_no_duplicates = df_smdb.drop_duplicates(subset=['station_code', 'year', 'month', 'day'])

print(len(df_smdb), len(df_no_duplicates))

# no duplicates found

17355 17355

# Filling

In [49]:
# We can change values in the precip type column for more self-explonatory ones
df_filled = df_smdb.copy()
df_filled['precip_type'] = df_filled.precip_type.fillna('not/available')
df_filled['precip_type'] = df_filled.precip_type.str.replace('W', 'Water').replace('S', 'Snow')
df_filled.precip_type.value_counts()

precip_type
Water            14306
Snow              2590
not/available      459
Name: count, dtype: int64

In [71]:
years = df_filled.year.unique()
months = df_filled.month.unique()

for year in years:
    for month in months:
        temp = df_filled[(df_filled.year == year) & (df_filled.month == month)]
        if temp['24h_precipitation_mm'].isna().sum() > 0:
            ind = temp[temp['24h_precipitation_mm'].isna()].index
            df_filled.loc[ind, '24h_precipitation_mm'] = temp['24h_precipitation_mm'].mean()

In [73]:
df_filled["SMDB_status"] = df_filled["SMDB_status"].fillna("Normal")

In [74]:
df_filled.isna().sum()

station_code            0
station_name            0
year                    0
month                   0
day                     0
24h_precipitation_mm    0
SMDB_status             0
precip_type             0
snow_cover_cm           0
river                   0
lat                     0
lon                     0
altitude                0
dtype: int64